{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
           At GT Movies Store, we curate a digital library
           of popular movies span countless genres, ensuring that
           we have something for every movie lover. Browse our
           collection of films, including
           latest releases, timeless classics, and hidden
           gems. With just a few clicks, you can rent or
           purchase your favorite titles and instantly
           stream them in high-definition quality.
        </p>
        <p>
          Our digital platform gives you the flexibility to
          watch movies on any of your devices, whether you use
          a TV, tablet, or smartphone. Our intuitive
          search, recommendation, and review features make
          finding your next movie night pick as easy as ever.
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about1.jpg' %}"
             class="max-width-100"
             alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}