{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body text-center">
            <h2>Check Your Email</h2>
            <hr />
            <p>We have sent a password reset link to your email address.</p>
            <p>Please check your inbox (and spam/junk folder) and click on the link to reset your password.</p>
            <p>The link will expire in 1 hour.</p>
            <div class="mt-3">
              <a href="{% url 'accounts.login' %}" class="btn btn-primary">Back to Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}